:root {
    --white-text: #FFFFFF;
    --blue-text: #2196F3;
    --grey-text: #757575;
    --graphite-text: #212121;
    --black-text: #000000;
    --grey-text-op60: rgba(255, 255, 255, 0.6);
    --back-gray: #2F303A;
    --back-white: #E5E5E5;
    --back-gray-light: #F5F4FA;
}

*{
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
  }

li {
    text-decoration: none;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding: 0 15px;
    border: 1px solid red;
}

/*HEDER*/

.header-nav,
.nav-list,
.contacts-list {
    display: flex;
}

.header-nav {
    
    padding-top: 24px;
    
}

.nav-list {
    margin-left: 93px;
    margin: 32px;
}

.nav-list li:not(:last-child) {
    margin-right: 50px;
}

.contacts-list li:last-child {
    margin-left: 50px;
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--black-text);
    font-size: 26px;

}

.logo-blue {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    color: var(--blue-text);
    font-size: 26px;
}

/* .nav-link:active {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-text);
} */

.isActive .nav-link {
    color: var(--blue-text);

}

.nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--graphite-text);
}

.nav-link:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-text);
}

.contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--grey-text);
}

.contacts:hover {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--blue-text);
}

/* HERO*/

.order {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: var(--white-text);
    text-align: center;
    position: absolute;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.hero {
    background: #2F303A;
}
h1 {
    text-transform: uppercase;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    color: var(--white-text);
    padding-top: 200px;
    padding-bottom: 280px;
    width: 696px;
    text-align: center;
    letter-spacing: 0.06em;
    padding-left: 237px;
}

/*ADVANTAGES*/
.advantages {
    margin-top: 84px;
    margin-bottom: 94px;
}

.advantages-list {
    display: flex;
}

.advantages-li {
    width: 270px;
}

.advantages-list li:not(:last-child) {
    margin-right: 30px;
}
.advantages-title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: var(--graphite-text);
    padding-bottom: 10px;
}

.description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey-text);
    letter-spacing: 0.03em;
}

/*MAKE*/

.make-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #212121;
    padding-bottom: 50px;
}

.make-list {
    display: flex;
}

.make-list li:not(:last-child) {
    margin-right: 30px;
}

/*TEAM*/

.team-container {
    background: #F5F4FA;
    margin-top: 94px;
}

.team-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: var(--graphite-text);
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
}

.team-box {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    display: flex;
    padding-bottom: 94px;
}

.team li:not(:last-child) {
    margin-right: 30px;
}

.name {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: var(--graphite-text);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.specialty {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--grey-text);
    text-align: center;
    padding-bottom: 30px;
}



/*FOOTER*/
.footer {
    width: 1200px;
    padding: 60px 15px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}

footer {
    background: var(--back-gray);
}

.logo-footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: var(--white-text);
    
    padding-bottom: 20px;
}
.adress {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--white-text);
}

.footer-contacts {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--grey-text-op60);
    display: flex;
    flex-direction: column;
    padding-top: 9px;
}

